<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body th:fragment="adminTopbar">
<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

    <!-- Sidebar Toggle (Topbar) -->
    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
        <i class="fa fa-bars"></i>
    </button>

    <!-- 통합 검색: 입력 요소 하나를 데스크톱·모바일이 공유한다(xs에서는 아이콘 버튼이 펼친다). 동작은 /js/admin/topbar-search.js -->
    <form class="topbar-search form-inline mr-auto ml-md-3 my-2 my-md-0" role="search" autocomplete="off">
        <button type="button" id="topbarSearchToggle" class="btn btn-link d-sm-none" aria-label="검색 열기" aria-expanded="false">
            <i class="fas fa-search fa-fw"></i>
        </button>
        <div id="topbarSearchBox" class="topbar-search-box d-none d-sm-block">
            <div class="input-group">
                <input type="search" id="topbarSearchInput" class="form-control bg-light border-0 small"
                       placeholder="메뉴·공지·관리자 검색" maxlength="100" aria-label="통합 검색"
                       role="combobox" aria-autocomplete="list" aria-expanded="false" aria-controls="topbarSearchResults">
                <div class="input-group-append">
                    <span class="btn btn-primary disabled" aria-hidden="true"><i class="fas fa-search fa-sm"></i></span>
                </div>
            </div>
            <div id="topbarSearchResults" class="topbar-search-results shadow d-none" role="listbox" aria-label="검색 결과"></div>
        </div>
    </form>

    <!-- Topbar Navbar -->
    <ul class="navbar-nav ml-auto">

        <!-- 알림·쪽지 위젯은 각각 실제 기능과 함께 추가한다(데모 하드코딩 제거) -->

        <div class="topbar-divider d-none d-sm-block"></div>

        <!-- Nav Item - User Information -->
        <li class="nav-item dropdown no-arrow">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span id="topbarCurrentAdminName" class="mr-2 d-none d-lg-inline text-gray-600 small" th:text="${currentAdminName}">관리자</span>
                <img id="topbarCurrentAdminImage" class="img-profile rounded-circle"
                     th:src="${currentAdminProfileImageUrl != null and !#strings.isEmpty(currentAdminProfileImageUrl)} ? ${currentAdminProfileImageUrl} : '/img/undraw_profile.svg'"
                     src="/img/undraw_profile.svg">
            </a>
            <!-- Dropdown - User Information -->
            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                 aria-labelledby="userDropdown">
                <a class="dropdown-item" th:href="@{/admin/member/info}">
                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                    내 정보
                </a>
                <a class="dropdown-item" th:href="@{/admin/member/settings}">
                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                    내 설정
                </a>
                <!-- 활동 로그 화면은 ADMIN 전용(AdminFeature.ACTION_LOG)이라 MANAGER에게는 숨긴다 -->
                <a class="dropdown-item" th:href="@{/admin/log/manage}" sec:authorize="hasRole('ADMIN')">
                    <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                    활동 로그
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                    로그아웃
                </a>
            </div>
        </li>

    </ul>

</nav>
<script th:src="@{/js/admin/topbar-search.js}" defer></script>
</body>
</html>
